<%- model_class = Order -%>
<%= render 'shared/error_messages', object: @order %>
<div class="page-header">
  <h1>Please fill in the details of your order.</h1>
</div>
<%= render :partial => 'form' %>
