<div class="page-header">
	<h1>Your Depot Cart</h1>
</div>

<div class="table-responsive">
	<table class="table table-striped mycart">
		<%= render cart.line_items %>
		<tr>
			<td>Total:</td>
			<td><%= number_to_currency cart.total_price %></td>
			<td></td>
		</tr>
	</table>
</div>
<% checkout_page = true if current_page?(new_order_path) -%>
<%= button_to "empty cart", cart, method: :delete, class: "btn btn-danger btn-sm pull-right", data: { confirm: "Are you sure?" }, remote: !checkout_page %>
<%= link_to "checkout", new_order_path, { disabled: checkout_page, class: "btn btn-success" } %>