// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.empty_cart{
	margin-bottom: 20px;
}
.mycart{
	tr:last-child{
		font-weight: bold;
		td:first-child{
			text-align: right;
		}
	}
}